body{
    background-color: burlywood;
}

h1{
    height: 300px;
    width: 300px;
    color: rgb(0, 0, 0);
    background-color: white;
    font-size: 16px;

    border: 10px solid rgb(117, 88, 88);

    margin: 10px;

    padding: 20px;

    outline: 20px rgb(253, 3, 3);
    

    

    
}

a{
    border: 5px dotted rgb(97, 65, 65);
    text-decoration: none;
    color: black;

}

a:hover{
    color: white;
    text-decoration: underline black;
}


